<div fxLayout="row" fxFlexFill>
    <div fxFlex="20" fxHide.lt-md class="std-20px-padding">
        <h2 class="mat-h2">The quick brown fox jumps over the lazy dog.</h2>

        <app-filters></app-filters>

    </div>
    <div fxFlex class="std-20px-padding">
        <div class="mat-h1">The quick brown fox jumps over the lazy dog.</div>
        <div class="mat-h2">The quick brown fox jumps over the lazy dog.</div>
        ------------------------------------------------------------------------
        <div class="mat-body-1">The quick brown fox jumps over the lazy dog.</div>
        <div class="mat-body-2">The quick brown fox jumps over the lazy dog.</div>

        <app-cards-grid></app-cards-grid>

    </div>
</div>