<div class="signin-container" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <mat-card class="std-card std-no-padding">
    <mat-card-header class="std-card-header">
      <mat-card-title>
        <h2>Sign in to {{title}}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="std-card-content">
      <form novalidate (ngSubmit)="onSubmit(form)" [formGroup]="form" class="std-full-width-form" autocomplete="off">

        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="usernameOrEmail" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required>
        </mat-form-field>
        <mat-card-actions class="std-card-actions">
          <button type="submit" mat-raised-button class="std-submit-button" [disabled]="form.invalid">Sing In</button>
        </mat-card-actions>
      </form>
    </mat-card-content>

    <mat-card-footer class="std-card-footer" fxLayout="column" fxLayoutAlign="center center">
      <mat-error class="std-card-errors" *ngIf="res?.message">
        {{res?.message}}
      </mat-error>
      <div class="redirect-msg">
        <a routerLink="/signup">Create an account</a>
      </div>
    </mat-card-footer>

  </mat-card>

</div>