// Greens
$primary-green: green;
$secondary-green: lightgreen;

// Blue
$primary-blue: darkblue;

// USWDS Colors
$color-primary: #0071bc;
$color-primary-darker: #205493;
$color-primary-darkest: #112e51;
$color-base: #212121;
$color-gray-dark: #323a45;
$color-gray-light: #aeb0b5;

$color-primary-alt: #02bfe7;
$color-primary-alt-darkest: #046b99;
$color-primary-alt-dark: #00a6d2;
$color-primary-alt-light: #9bdaf1;
$color-primary-alt-lightest: #e1f3f8;

$color-secondary: #e31c3d;
$color-secondary-darkest: #981b1e;
$color-secondary-dark: #cd2026;
$color-secondary-light: #e59393;
$color-secondary-lightest: #f9dede;

// USWDS Background
$color-gray-dark: #323a45;
$color-gray: #5b616b;
$color-gray-light: #aeb0b5;
$color-gray-lighter: #d6d7d9;
$color-gray-lightest: #f1f1f1;

$color-gray-warm-dark: #494440;
$color-gray-warm-light: #e4e2e0;

$color-primary-darkest: #112e51;
$color-gray-cool-light: #dce4ef;
