@import './palette.scss';

.std-card {
  width: 400px;
}

.std-full-width-form > mat-form-field {
  width: 100%;
}

// Buttons

.std-submit-button {
  background-color: blue;
  color: white;
  float: right;
}

// Text
.std-white {
  color: white;
}

// PADDINGs
.std-10px-padding {
  padding: 10px;
}
.std-20px-padding {
  padding: 20px;
}
.std-10px-vertical-padding {
  padding: 10px 0px 10px 0px;
}
.std-20px-vertical-padding {
  padding: 20px 0px 20px 0px;
}

// MARGINs
.std-10px-margin {
  margin: 10px;
}
.std-20px-margin {
  margin: 20px;
}
