@import './palette.scss';

// Card
.std-card {
  width: 400px;
  border-radius: 10px;
}

.std-full-width-form > mat-form-field {
  width: 100%;
}

.std-card-header {
  background: rgb(238, 242, 249);
  padding: 20px;
  justify-content: center;
}

.std-card-content {
  padding: 20px;
}

.std-card-actions {
  margin: 20px;
  display: flex !important;
  justify-content: center;
}

.std-card-footer {
  display: flex !important;
  padding: 20px;
  justify-content: center;
}

// Buttons

.std-submit-button {
  background-color: blue;
  color: white;
  padding: 5px 10px 5px 10px !important;
  border-radius: 5px !important;
}

.std-basic-button {
  background-color: white;
}

// Text
.std-white {
  color: white;
}

// PADDINGs

.std-no-padding {
  padding: 0 !important;
}
.std-10px-padding {
  padding: 10px;
}
.std-20px-padding {
  padding: 20px;
}
.std-10px-vertical-padding {
  padding: 10px 0px 10px 0px;
}
.std-20px-vertical-padding {
  padding: 20px 0px 20px 0px;
}

// MARGINs
.std-10px-margin {
  margin: 10px;
}
.std-20px-margin {
  margin: 20px;
}
