<div class="form-container" fxLayout="column" fxLayoutAlign="space-around center" fxFlexFill>
  <mat-card class="std-card">

    <form novalidate (ngSubmit)="onSubmit(form)" [formGroup]="form" class="std-full-width-form" autocomplete="off">

      <!-- Text Input -->
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput id="phoneNumber" formControlName="phoneNumber">
        <mat-error *ngIf="form.get('phoneNumber').hasError('pattern')">wrong pattern</mat-error>
      </mat-form-field>



      <!-- Select Options -->
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <mat-select placeholder="Select" formControlName="country" required>
          <mat-option value="canada">Canada</mat-option>
          <mat-option value="mexico">Mexico</mat-option>
        </mat-select>
        <mat-error>{{country?.errors}}</mat-error>
      </mat-form-field>

      <!-- Text Area -->
      <mat-form-field appearance="outline">
        <mat-label>Comments</mat-label>
        <textarea matInput placeholder="Comments" formControlName="comments"></textarea>
      </mat-form-field>

      <!-- Outline, Hint, Icon -->
      <mat-form-field appearance="outline">
        <mat-label>Test</mat-label>
        <input matInput placeholder="Test">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <!-- basic autocomplete -->
      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <input type="text" placeholder="State" aria-label="Number" matInput formControlName="state" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option value="California">California</mat-option>
          <mat-option value="Montana">Montana</mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Date picker -->
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <!-- Checkbox -->
      <mat-checkbox formControlName="isCitizen" color="primary">Are you a citizen?</mat-checkbox>


      <!-- Radio buttons -->
      <div class="std-20px-vertical-padding">
        <mat-radio-group>
          <mat-radio-button value="1" color="primary">Option 1</mat-radio-button>
          <mat-radio-button value="2" color="primary">Option 2</mat-radio-button>
        </mat-radio-group>
      </div>

      <input type="file" id="file" enctype="multipart/form-data" (change)="handleFileInput($event.target.files)" multiple>


      <button type="submit" mat-raised-button class="std-submit-button">Submit</button>
    </form>

  </mat-card>
</div>