<div class="signup-container" fxLayout="column" fxLayoutAlign="space-around center" fxFlexFill>
  <mat-card class="std-card">

    <form novalidate (ngSubmit)="onSubmit(form)" [formGroup]="form" class="std-full-width-form" autocomplete="off">
      <mat-form-field>
        <input matInput placeholder="Full Name" formControlName="name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" type="email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" type="password" required>
      </mat-form-field>
      <button type="submit" mat-raised-button class="std-submit-button" [disabled]="form.invalid">Sing Up</button>
    </form>

  </mat-card>
</div>