@import 'src/pattern-library/palette.scss';

.redirect-msg {
  border-top: 1px $color-gray-lightest solid;
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  a {
    text-decoration: none;
  }
}
