
<div fxLayout="row" fxFlexFill class="home-container">
    <div fxFlex="20" fxHide.lt-md class="std-20px-padding">
        <h2 class="mat-h2">The quick brown fox jumps over the lazy dog.</h2>
    </div>
    <div fxFlex class="std-20px-padding">
        <div class="mat-h1">The quick brown fox jumps over the lazy dog.</div>
        <div class="mat-h2">The quick brown fox jumps over the lazy dog.</div>
        <div class="mat-h3">The quick brown fox jumps over the lazy dog.</div>
        <div class="mat-h4">The quick brown fox jumps over the lazy dog.</div>
        <div class="mat-h1">The quick brown fox jumps over the lazy dog.</div>
        <div class="mat-h2">The quick brown fox jumps over the lazy dog.</div>
        ------------------------------------------------------------------------
        <div class="mat-body-1">The quick brown fox jumps over the lazy dog.</div>
        <div class="mat-body-2">The quick brown fox jumps over the lazy dog.</div>
    </div>
</div>